<a href="https://colab.research.google.com/github/coraline1111/Lab-work-Saturday/blob/Branch-1.0/Mini_project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import precision_score, recall_score, f1_score

%matplotlib inline

In [ ]:
# load file
data = pd.read_csv ('/content/australian_credit_approval.csv')

In [ ]:
data.shape

(689, 15)

In [ ]:
data.head()

   1  22.08   11.46  2  4  4.1  1.585  0  0.1  0.2  1.1  2.1  100  1213  0.3
0  0  22.67   7.000  2  8    4  0.165  0    0    0    0    2  160     1    0
1  0  29.58   1.750  1  4    4  1.250  0    0    0    1    2  280     1    0
2  0  21.67  11.500  1  5    3  0.000  1    1   11    1    2    0     1    1
3  1  20.17   8.170  2  6    4  1.960  1    1   14    0    2   60   159    1
4  0  15.83   0.585  2  8    8  1.500  1    1    2    0    2  100     1    1

In [ ]:
data.tail()

,1,22.08,11.46,2,4,4.1,1.585,0,0.1,0.2,1.1,2.1,100,1213,0.3
684,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1,1
685,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45,0
686,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1,1
687,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12,1
688,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1,1

In [ ]:
data.isnull().sum()

1        0
22.08    0
11.46    0
2        0
4        0
4.1      0
1.585    0
0        0
0.1      0
0.2      0
1.1      0
2.1      0
100      0
1213     0
0.3      0
dtype: int64

In [ ]:
# Create a list of column names
column_names = ['A' + str(i+1) for i in range(len(data.columns))]

# Rename the columns
data.columns = column_names

# Print the updated DataFrame
print(data.head())

   A1     A2      A3  A4  A5  A6     A7  A8  A9  A10  A11  A12  A13  A14  A15
0   0  22.67   7.000   2   8   4  0.165   0   0    0    0    2  160    1    0
1   0  29.58   1.750   1   4   4  1.250   0   0    0    1    2  280    1    0
2   0  21.67  11.500   1   5   3  0.000   1   1   11    1    2    0    1    1
3   1  20.17   8.170   2   6   4  1.960   1   1   14    0    2   60  159    1
4   0  15.83   0.585   2   8   8  1.500   1   1    2    0    2  100    1    1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      689 non-null    int64
 1   A2      689 non-null    float64
 2   A3      689 non-null    float64
 3   A4      689 non-null    int64
 4   A5      689 non-null    int64
 5   A6      689 non-null    int64
 6   A7      689 non-null    float64
 7   A8      689 non-null    int64
 8   A9      689 non-null    int64
 9   A10     689 non-null    int64
 10  A11     689 non-null    int64
 11  A12     689 non-null    int64
 12  A13     689 non-null    int64
 13  A14     689 non-null    int64
 14  A15     689 non-null    int64
dtypes: float64(3), int64(12)
memory usage: 80.9 KB

In [ ]:
# Define predictors (X)
X = data[['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 'A14']]

# Define target (y)
y = data['A15']

In [ ]:
X.head()

   A1     A2      A3  A4  A5  A6     A7  A8  A9  A10  A11  A12  A13  A14
0   0  22.67   7.000   2   8   4  0.165   0   0    0    0    2  160    1
1   0  29.58   1.750   1   4   4  1.250   0   0    0    1    2  280    1
2   0  21.67  11.500   1   5   3  0.000   1   1   11    1    2    0    1
3   1  20.17   8.170   2   6   4  1.960   1   1   14    0    2   60  159
4   0  15.83   0.585   2   8   8  1.500   1   1    2    0    2  100    1

In [ ]:
# Standardize the dataset
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
X_scaled

array([[-1.4503805 , -0.75220801,  0.45277175, ...,  0.23800995,
        -0.14022253, -0.19521767],
       [-1.4503805 , -0.168975  , -0.60322566, ...,  0.23800995,
         0.55692711, -0.19521767],
       [-1.4503805 , -0.83661221,  1.35791239, ...,  0.23800995,
        -1.06975537, -0.19521767],
       ...,
       [-1.4503805 , -1.07632014,  0.96367335, ...,  0.23800995,
        -0.48879734, -0.19521767],
       [-1.4503805 , -0.35128807,  1.96133948, ...,  0.23800995,
        -0.37260574, -0.19310638],
       [ 0.68947424,  0.79492095, -0.9471791 , ..., -3.10870136,
         2.18360958, -0.19521767]])

In [ ]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [ ]:
# Create PCA object with 14 components
pca = PCA(n_components=14)

# Fit PCA on the training data
X_train_pca = pca.fit_transform(X_train)

# Transform the test data using the fitted PCA
X_test_pca = pca.transform(X_test)

In [ ]:
# Create a logistic regression model
model = LogisticRegression(max_iter=1000)

In [ ]:
# Train the model
model.fit(X_train_pca, y_train)

LogisticRegression(max_iter=1000)

In [ ]:
# Make predictions on the test set
y_pred = model.predict(X_test_pca)

In [ ]:
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8985507246376812

In [ ]:
# Precision
precision = precision_score(y_test, y_pred)
print("Precision:", precision)

Precision: 0.85

In [ ]:
# Recall
recall = recall_score(y_test, y_pred)
print("Recall:", recall)

Recall: 0.9107142857142857

In [ ]:
# F1_score
f1 = f1_score(y_test, y_pred)
print("F1_score:", f1)

F1_score: 0.8793103448275861